<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Reshedule Appointment</title>
        <link rel="stylesheet" href="/css/bookDoctor.css" />
    </head>
    <body>
        <div class="formDiv">
            <h2>Re-Schedule Appointment Request</h2>
            <form
                class="bookdoctor"
                action="/hospitals/resheduleappointment"
                method="post"
            >
                <input
                    type="hidden"
                    value="<%=data.patientId%>"
                    name="patientId"
                />
                <input
                    type="hidden"
                    value="<%=data.doctorId%>"
                    name="doctorId"
                />
                <input
                    type="hidden"
                    value="<%=data._id%>"
                    name="appointmentId"
                />
                <div class="input-group">
                    <label>Appointment Date</label>
                    <input name="appointmentDate" type="date" required value="<%=date%>"/>
                </div>
                <div class="input-group">
                    <label>Appointment Time</label>
                    <input name="appointmentTime" type="time" required value="<%=time%>"/>
                </div>
                <button type="submit">Re-Schedule Appointment</button>
            </form>
        </div>
    </body>
</html>
