<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>RequestedAppointments</title>
        <link rel="stylesheet" href="/css/hospitalDashboard.css" />
    </head>
    <body>
        <div class="appointment-requests">
            <h1>Requested Appointments</h1>
            <% if(data.length===0) { %>
            <h4>No Requested Appointments Found !</h4>
            <%}%> <% if(data.length!==0) { %> <% for (let appointment of data) {
            %>
            <div class="appointment-request">
                <table class="request">
                    <tr>
                        <td>PatientName</td>
                        <td><%=appointment.patientId.name%></td>
                    </tr>
                    <tr>
                        <td>Patient Number</td>
                        <td><%=appointment.patientId.mobileNum%></td>
                    </tr>
                    <tr>
                        <td>Patient Email</td>
                        <td><%=appointment.patientId.email%></td>
                    </tr>
                    <tr>
                        <td>DoctorName</td>
                        <td><%=appointment.doctorId.name%></td>
                    </tr>
                    <tr>
                        <td>DoctorSpeciality</td>
                        <td><%=appointment.doctorId.Speciality%></td>
                    </tr>
                    <tr>
                        <td>Description</td>
                        <td><%=appointment.diseaseDescription%></td>
                    </tr>
                    <tr>
                        <td>RequestedDate</td>
                        <td><%=appointment.appointmentDate%></td>
                    </tr>
                    <tr>
                        <td>RequestedTime</td>
                        <td><%=appointment.appointmentTime%></td>
                    </tr>
                    <tr>
                        <td>CaseType</td>
                        <td><%=appointment.type%></td>
                    </tr>
                    <tr>
                        <td>
                            <a href="/hospitals/acceptAppointment"
                                ><button>Accept</button>
                            </a>
                        </td>
                        <td>
                            <a href="/hospitals/denyAppointment"
                                ><button>resheduleAppointment</button></a
                            >
                        </td>
                    </tr>
                </table>
            </div>
            <%}%> <%}%>
        </div>
    </body>
</html>
