<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Doctors Appointments</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/0e6c012114.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/doctorDashboard.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg custom" id="home">
            <div class="container custom">
                <a class="navbar-brand brand" href="/">
                    <span class="single">CHS</span></a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#navbarOffcanvas"
                    aria-controls="navbarOffcanvas"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="offcanvas offcanvas-end bg-light"
                    id="navbarOffcanvas"
                    tabindex="-1"
                    aria-labelledby="offcanvasNavbarLabel"
                >
                    <div class="offcanvas-header customOffCanvas">
                        <h4
                            class="offcanvas-title text-dark"
                            id="offcanvasNavbarLabel"
                        >
                            MENU
                        </h4>
                        <button
                            type="button"
                            class="btn-close btn-close-dark text-reset"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <div
                            class="navbar-nav justify-content-end flex-grow-1 pe-3"
                        >
                            <a
                                class="nav-item nav-link custom-col"
                                aria-current="page"
                                href="/doctors/dashboard"
                            >
                                Home
                            </a>
                            <a
                                class="nav-item nav-link custom-col"
                                aria-current="page"
                                href="/"
                                >Logout</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <% if(appointments.length===0) {%>
        <div class="appointment-requests">
            <h1>No Appointments Found</h1>
        </div>
        <%}%> <% if (appointments.length !==0 ){%>
        <div class="appointment-requests">
            <h1>Booked Appointments</h1>
            <% for (let appointment of appointments) { %>
            <div class="appointment-request">
                <table class="request">
                    <tr>
                        <td>Name:</td>
                        <td><%=appointment.patientId.name%></td>
                    </tr>
                    <tr>
                        <td>Age:</td>
                        <td><%=appointment.patientId.age%></td>
                    </tr>
                    <tr>
                        <td>Description:</td>
                        <td><%=appointment.diseaseDescription%></td>
                    </tr>
                    <tr>
                        <td>Date:</td>
                        <td><%=appointment.appointmentDate%></td>
                    </tr>
                    <tr>
                        <td>time:</td>
                        <td><%=appointment.appointmentTime%></td>
                    </tr>
                </table>
                <div class="button-div-appointments">
                    <a
                        class="button"
                        href="/doctors/prescribe/<%=appointment.patientId._id%>/<%=appointment.hospitalId._id%>/<%=appointment._id%>"
                    >
                        <button>Prescribe Medicine</button>
                    </a>
                    <a
                        class="button"
                        href="/doctors/medicalrecords/<%=appointment.patientId._id%>"
                    >
                        <button>View Previous Medicalrecords</button>
                    </a>
                </div>
                <div class="skip-appointment">
                    <a
                        class="button"
                        href="/doctors/skipappointment/<%=appointment._id%>"
                    >
                        <button>Remove Appointment</button>
                    </a>
                </div>
            </div>
            <%}%>
        </div>
        <%}%>
    </body>
</html>
