<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Filtered Hospital</title>
        <link
            href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
            rel="stylesheet"
            integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
            crossorigin="anonymous"
        />
        <script
            src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"
        ></script>
        <script
            src="https://kit.fontawesome.com/0e6c012114.js"
            crossorigin="anonymous"
        ></script>
        <link rel="stylesheet" href="/css/hospitalList.css" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg custom" id="home">
            <div class="container custom">
                <a class="navbar-brand brand" href="/">
                    <span class="single">CHS</span></a
                >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#navbarOffcanvas"
                    aria-controls="navbarOffcanvas"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="offcanvas offcanvas-end bg-light"
                    id="navbarOffcanvas"
                    tabindex="-1"
                    aria-labelledby="offcanvasNavbarLabel"
                >
                    <div class="offcanvas-header customOffCanvas">
                        <h4
                            class="offcanvas-title text-dark"
                            id="offcanvasNavbarLabel"
                        >
                            MENU
                        </h4>
                        <button
                            type="button"
                            class="btn-close btn-close-dark text-reset"
                            data-bs-dismiss="offcanvas"
                            aria-label="Close"
                        ></button>
                    </div>
                    <div class="offcanvas-body">
                        <div
                            class="navbar-nav justify-content-end flex-grow-1 pe-3"
                        >
                            <a
                                class="nav-item nav-link custom-col"
                                aria-current="page"
                                href="/patients/dashboard"
                                >Home</a
                            >
                            <a
                                class="nav-item nav-link custom-col"
                                aria-current="page"
                                href="#"
                                >Logout</a
                            >
                        </div>
                    </div>
                </div>
            </div>
        </nav>
        <div class="filter-div">
            <form
                class="filter-form"
                method="post"
                action="/patients/hospitals/filtered"
            >
                <div class="input-select">
                    <label class="on-top">Filter by Speciality:</label>
                    <select name="speciality">
                        <%if (speciality==='All'){%>
                        <option selected>All</option>
                        <option>MultiSpeciality</option>
                        <option>Dermatology</option>
                        <option>GeneralSurgery</option>
                        <option>Gastroenterology</option>
                        <option>Oncology</option>
                        <option>Orthopaedics</option>
                        <option>ENT</option>
                        <option>ophthalmology</option>
                        <% } %> <%if (speciality==='Dermatology'){%>
                        <option>All</option>
                        <option>MultiSpeciality</option>
                        <option selected>Dermatology</option>
                        <option>GeneralSurgery</option>
                        <option>Gastroenterology</option>
                        <option>Oncology</option>
                        <option>Orthopaedics</option>
                        <option>ENT</option>
                        <option>ophthalmology</option>
                        <% } %> <%if (speciality==='MultiSpeciality'){%>
                        <option>All</option>
                        <option selected>MultiSpeciality</option>
                        <option>Dermatology</option>
                        <option>GeneralSurgery</option>
                        <option>Gastroenterology</option>
                        <option>Oncology</option>
                        <option>Orthopaedics</option>
                        <option>ENT</option>
                        <option>ophthalmology</option>
                        <% } %> <%if (speciality==='Gastroenterology'){%>
                        <option>All</option>
                        <option>MultiSpeciality</option>
                        <option>Dermatology</option>
                        <option>GeneralSurgery</option>
                        <option selected>Gastroenterology</option>
                        <option>Oncology</option>
                        <option>Orthopaedics</option>
                        <option>ENT</option>
                        <option>ophthalmology</option>
                        <% } %> <%if (speciality==='Oncology'){%>
                        <option>All</option>
                        <option>MultiSpeciality</option>
                        <option>Dermatology</option>
                        <option>GeneralSurgery</option>
                        <option>Gastroenterology</option>
                        <option selected>Oncology</option>
                        <option>Orthopaedics</option>
                        <option>ENT</option>
                        <option>ophthalmology</option>
                        <% } %> <%if (speciality==='Orthopaedics'){%>
                        <option>All</option>
                        <option>MultiSpeciality</option>
                        <option>Dermatology</option>
                        <option>GeneralSurgery</option>
                        <option>Gastroenterology</option>
                        <option>Oncology</option>
                        <option selected>Orthopaedics</option>
                        <option>ENT</option>
                        <option>ophthalmology</option>
                        <% } %> <%if (speciality==='ENT'){%>
                        <option>All</option>
                        <option>MultiSpeciality</option>
                        <option>Dermatology</option>
                        <option>GeneralSurgery</option>
                        <option>Gastroenterology</option>
                        <option>Oncology</option>
                        <option>Orthopaedics</option>
                        <option selected>ENT</option>
                        <option>ophthalmology</option>
                        <% } %> <%if (speciality==='GeneralSurgery'){%>
                        <option>All</option>
                        <option>MultiSpeciality</option>
                        <option>Dermatology</option>
                        <option selected>GeneralSurgery</option>
                        <option>Gastroenterology</option>
                        <option>Oncology</option>
                        <option>Orthopaedics</option>
                        <option>ENT</option>
                        <% } %>
                    </select>
                </div>
                <div class="input-select">
                    <label class="on-top">Filter by Location:</label>
                    <select name="location">
                        <% if (location==='All') { %>
                        <option selected>All</option>
                        <option>Chennai</option>
                        <option>Hyderabad</option>
                        <option>Ahmedabad</option>
                        <option>Delhi</option>
                        <option>Banglore</option>
                        <option>Mumbai</option>
                        <% } %> <% if (location==='Chennai') { %>
                        <option>All</option>
                        <option selected>Chennai</option>
                        <option>Hyderabad</option>
                        <option>Ahmedabad</option>
                        <option>Delhi</option>
                        <option>Banglore</option>
                        <option>Mumbai</option>
                        <% } %> <% if (location==='Hyderabad') { %>
                        <option>All</option>
                        <option>Chennai</option>
                        <option selected>Hyderabad</option>
                        <option>Ahmedabad</option>
                        <option>Delhi</option>
                        <option>Banglore</option>
                        <option>Mumbai</option>
                        <% } %> <% if (location==='Ahmedabad') { %>
                        <option>All</option>
                        <option>Chennai</option>
                        <option>Hyderabad</option>
                        <option selected>Ahmedabad</option>
                        <option>Delhi</option>
                        <option>Banglore</option>
                        <option>Mumbai</option>
                        <% } %> <% if (location==='Delhi') { %>
                        <option>All</option>
                        <option>Chennai</option>
                        <option>Hyderabad</option>
                        <option>Ahmedabad</option>
                        <option selected>Delhi</option>
                        <option>Banglore</option>
                        <option>Mumbai</option>
                        <% } %> <% if (location==='Delhi') { %>
                        <option>All</option>
                        <option>Chennai</option>
                        <option>Hyderabad</option>
                        <option>Ahmedabad</option>
                        <option>Delhi</option>
                        <option selected>Banglore</option>
                        <option>Mumbai</option>
                        <% } %> <% if (location==='Mumbai') { %>
                        <option>All</option>
                        <option>Chennai</option>
                        <option>Hyderabad</option>
                        <option>Ahmedabad</option>
                        <option>Delhi</option>
                        <option>Banglore</option>
                        <option selected>Mumbai</option>
                        <% } %>
                    </select>
                </div>
                <button>Filter</button>
            </form>
        </div>
        <div style="margin-top: 1rem">
            <% if (hospitals.length === 0 ) { %>
            <h1 class="empty" style="text-align: center; color: #7c7f7e">
                No Hospitals Found
            </h1>
            <div class="imageDiv">
                <img src="/images/Nodata-2.svg" />
            </div>
            <% } %>
        </div>
        <div class="outer-container">
            <% if ( hospitals.length !== 0 ) { %> <% for (let hospital of
            hospitals ) { %>
            <a href="/patients/doctorlist/<%=hospital._id%>">
                <div class="hospital-card">
                    <div class="image-div">
                        <img src="/images/HospitalIcon.svg" />
                    </div>
                    <div class="hospital-details">
                        <h5><%=hospital.hName%></h5>
                        <h5>
                            Location:<%=hospital.city%>,<%=hospital.pincode%>
                        </h5>
                        <h5><%=hospital.specialityDep%></h5>
                    </div>
                </div>
            </a>
            <% } %> <% } %>
        </div>
    </body>
</html>
